RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/#\!
RewriteCond %{REQUEST_URI} !^(.*)\.js$
RewriteRule (.*) #!/$1 [NE,R=301] 
